body{
    margin: 0;
    overflow-x:hidden;
}

@font-face {
    font-family: 'Intro Script R';
    src: url("./fonts/introscriptr_h2base.otf");
}

@font-face {
    font-family: 'Intro Regular';
    /*src: url("fonts/Inter-Regular.otf");*/
    src: url("fonts/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: 'Intro Light';
    src: url("fonts/Inter-Light.otf");
}