.gameItem{
    width: clamp(115px,15vw,160px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameItem img{
    width: 100%;

    border: 3px solid #2F50C4;
    box-sizing: border-box;
    border-radius: 19px;
}

.gameItem div{
    text-align: center;

    font-family: 'Intro Regular';
    font-size: clamp(24px,2vw,32px);;

    color: #A0ABBC;

}